.aboutLocation {
  background: #d2e5e6;
  color: #345170;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15% 1rem 4rem;
}

.aboutLocation > h2 {
  padding: 0.75rem 0.5rem;
  border-bottom: 2px solid #345170;
}

.aboutLocation > p {
  margin: 2rem 0;
}

.photo {
  border-radius: 6px;
}

.locationMapContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.locationMap {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background: #345170;
  max-width: 420px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.locationImagesGalery {
  display: flex;
  justify-content: center;
  position: relative;
}

.locationImageContainer {
  max-width: 80%;
  width: 300px;
  height: 180px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.galeryArrows {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.galeryArrows > span {
  cursor: pointer;
  padding: 0.5rem;
}

.locationAddresses {
  margin-bottom: 2rem;
  width: 100%;
}

.locationAddresses > p {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.locationActive {
  border-radius: 10px;
  background: #345170;
  color: white;
}

@media screen and (min-width: 768px) {
  .aboutLocation {
    margin-top: -2rem;
  }

  .locationImageContainer {
    max-width: 100%;
    width: 420px;
    height: 252px;
  }

  .galeryArrows {
    width: 120%;
  }
}

@media screen and (min-width: 1024px) {
  .locationMapContainer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 840px;
  }

  .locationAddresses > p {
    padding: 0.75rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .locationImagesGalery {
    margin-top: 2rem;
  }

  .locationImageContainer {
    width: 540px;
    height: 324px;
  }
}
