.header {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  padding: 1rem;
  margin-top: 1.5rem;
  color: white;
  background: #10aac5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButtontext {
  margin-right: 1rem;
}

.hero,
.services,
.procedures,
.contact,
.aboutUs,
.aboutLocation,
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem 3rem;
}

.hero {
  padding: 0 0 3rem;
  position: relative;
}

.hero,
.services {
  background: #10aac5;
  height: 100%;
  color: white;
}

.procedures,
.contact {
  background: white;
  color: #345170;
}

.aboutUs,
.footer {
  background: #345170;
  color: white;
}

.aboutLocation {
  background: #d2e5e6;
  color: #345170;
}

.heroMsg {
  background-image: url(../public/triangle-transparent.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  color: #345170;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-left: 1rem;
  position: absolute;
  left: 0;
  top: 80px;
}

.heroMsg > p {
  font-size: 18px;
  margin-top: 0;
}

.heroMsg > .msgFeature {
  font-weight: bold;
}

.heroImg {
  max-width: 780px;
}

.serviceList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 1.5rem 0;
}

.service > p {
  text-align: center;
}

.servicesTitle {
  margin-bottom: 1.5rem;
}

.serviceIcon {
  font-size: 60px;
}

.proceduresList {
  border: 2px solid #345170;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 90%;
  max-width: 750px;
  margin: 2rem 0;
}

.proceduresList > p {
  text-align: center;
}

.proceduresList > h3 {
  position: absolute;
  top: -30px;
  background: white;
  padding: 0 1rem;
}

.aboutUs > p {
  white-space: pre-line;
  text-align: center;
  padding: 0 2rem;
}

.aboutLocation > p {
  margin: 2rem 0;
}

.socialIconsFooter {
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  color: #345170;
}

.socialIcon {
  background: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
