.header {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuItems {
  display: none;
}

.headerLinks {
  display: flex;
  align-items: center;
}

.actionButton {
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  border-radius: 6px;
  max-width: 210px;
  color: white;
  background: #10aac5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.actionButtontext {
  margin-right: 1rem;
}

.photo {
  border-radius: 6px;
}

.hero,
.services,
.procedures,
.contact,
.aboutUs,
.aboutLocation,
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem 3rem;
}

.services > h2,
.aboutUs > h2 {
  padding: 0.75rem 0.5rem;
  border-bottom: 2px solid white;
}

.procedures > h2,
.aboutLocation > h2 {
  padding: 0.75rem 0.5rem;
  border-bottom: 2px solid #345170;
}

.procedures,
.aboutUs,
.aboutLocation {
  padding-top: 15%;
}

.hero {
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: #e0dad5;
  height: 100%;
}

.services {
  padding-top: 40%;
  background: #10aac5;
  height: 100%;
  color: white;
}

.procedures,
.contact {
  background: white;
  color: #345170;
}

.aboutUs,
.footer {
  background: #345170;
  color: white;
}

.aboutUsText {
  margin-bottom: 3rem;
}

.aboutLocation {
  background: #d2e5e6;
  color: #345170;
  padding-bottom: 4rem;
}

.heroMsg {
  background-image: url(../public/triangle-transparent.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  color: #345170;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 1rem;
  position: absolute;
  left: 0;
  top: 80px;
}

.heroMsg > p {
  font-size: 18px;
  margin-top: 0;
}

.heroMsg > .msgFeature {
  font-weight: bold;
}

.heroMsg > .actionButton {
  display: none;
}

.heroImgWrapper {
  overflow: hidden;
  margin: 0;
  background: #10aac5;
}

.serviceList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 1.5rem 0;
}

.service > p {
  text-align: center;
}

.serviceIcon {
  font-size: 60px;
}

.proceduresList {
  border: 2px solid #345170;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 90%;
  max-width: 750px;
  margin: 2rem 0;
}

.proceduresList > p {
  text-align: center;
  line-height: 2rem;
}

.proceduresList > h3 {
  position: absolute;
  top: -30px;
  background: white;
  padding: 0 1rem;
}

.aboutUsText {
  text-align: center;
  padding: 0 2rem;
  line-height: 1.5rem;
}

.aboutLocation > p {
  margin: 2rem 0;
}

.locationMapContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.locationMap {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background: #345170;
  max-width: 420px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.locationImagesGalery {
  max-width: 840px;
}

.locationAddresses {
  margin-bottom: 2rem;
  width: 100%;
}

.locationAddresses > p {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.locationActive {
  border-radius: 10px;
  background: #345170;
  color: white;
}

.socialIconsFooter {
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  color: #345170;
}

.socialIcon {
  background: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

/* DIVIDERS */

.doubleTriangle {
  position: relative;
  margin-left: -2rem;
  width: 100%;
}

.triangleTopRightPrimary {
  position: absolute;
  width: 0;
  height: 0;
  border-top: calc(100vw * 0.18) solid #10aac5;
  border-left: 100vw solid transparent;
  margin-top: 1px;
}

.triangleTopRightWhite {
  position: absolute;
  width: 0;
  height: 0;
  border-top: calc(100vw * 0.18) solid white;
  border-left: 100vw solid transparent;
  margin-top: 1px;
}

.triangleTopLeftSecondary {
  position: absolute;
  width: 0;
  height: 0;
  border-top: calc(100vw * 0.18) solid #345170;
  border-right: 100vw solid transparent;
  margin-top: 1px;
}

.triangleBottomLeftWhite {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: calc(100vw * 0.18) solid white;
  border-right: 100vw solid transparent;
}

.triangleBottomLeftSecondary {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: calc(100vw * 0.18) solid #345170;
  border-right: 100vw solid transparent;
}

.triangleBottomRightAlternative {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: calc(100vw * 0.18) solid #d2e5e6;
  border-left: 100vw solid transparent;
}

/* /DIVIDERS */

@media screen and (min-width: 400px) {
  .services {
    padding-top: 20%;
  }
}

@media screen and (min-width: 520px) {
  .heroMsg {
    width: 55vw;
    height: 100%;
    padding-top: 0;
    padding-bottom: 4rem;
    top: 40px;
  }

  .services {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .heroMsg > p {
    font-size: 1.5rem;
  }

  .heroMsg > .actionButton {
    display: block;
  }

  .header {
    padding: 2rem 3rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .headerLinks > .actionButton {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .heroMsg {
    padding-left: 3rem;
  }

  .heroMsg > p {
    font-size: 1.75rem;
  }

  .menuItems {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin-right: 3rem;
  }

  .menuItems > a:visited,
  .menuItems > a:link,
  .menuItems > a:hover {
    color: #10aac5;
    font-weight: bold;
  }

  .locationMapContainer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 840px;
  }

  .locationAddresses > p {
    padding: 0.75rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .aboutUsText {
    text-align: left;
    max-width: 30%;
  }

  .aboutUsFigure {
    max-width: 40%;
  }

  .aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .heroMsg {
    padding-left: 5rem;
  }

  .heroMsg > p {
    font-size: 50px;
  }
}
