.container {
  padding: 0 2rem;
}

.header {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  padding: 1rem;
  margin-top: 1.5rem;
  color: white;
  background: #10aac5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero,
.services {
  background: #10aac5;
  height: 100%;
}

.procedures,
.contact {
  background: white;
  color: #345170;
}

.aboutUs,
.footer {
  background: #345170;
  color: white;
}

.aboutLocation {
  background: #d2e5e6;
  color: #345170;
}

.heroMsg,
.servicesTitle,
.services > p {
  color: white;
  font-weight: bold;
}

.heroImg {
  max-width: 780px;
}
